

body{
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: rgb(11, 39, 71);
    color: aliceblue;
}

header{
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: rgb(59, 91, 128);
}

#menu{
    height: 100%;
    width: 50%;
    border-bottom: 2px solid rgb(150, 181, 216);
    margin: auto;
}

#content_menu{
    height: 100%;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#content_menu p{
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

:target {
    animation: highlight 1s ease;    
}

@keyframes highlight {
    0% { opacity: 50%;}
    100% { opacity: 100%;}
}

#content{
    position: absolute;
    top: 10%;
    height: 90%;
    width: 100%;
    display: flex;
}

#content_esq{
    height: 50%;
    width: 25%;
    margin: 0;
    margin-top: 50px;
    border-top: 2px solid rgb(150, 181, 216);
    border-right: 2px solid rgb(150, 181, 216);
}

#content_esq p{
    text-align: end;
    margin: 10px;
    cursor: pointer;
}

#content_dir{
    height: 50%;
    width: 25%;
    margin: 0;
    margin-top: 50px;
    border-top: 2px solid rgb(150, 181, 216);
    border-left: 2px solid rgb(150, 181, 216);
}

#content_dir p{
    text-align: initial;
    margin: 10px;
    cursor: pointer;
}

#content_meio h1 a,
#content_menu p a,
#content_esq p a,
#content_dir p a{
    text-decoration: none;
    color: white;
}

#content_meio{
    width: 50%;
    margin: 0 2%;
    height: auto;
}

#content_meio h1{
    text-align: center;
    margin: 0 5%;
    margin-top: 5%;
    border-bottom: 2px solid rgb(150, 181, 216);
    cursor: pointer;
}

#content_contents{
    display: block;
    width: 100%;
    overflow: auto;
    height: 350px;
}

#content_one,
#content_two,
#content_three,
#content_four,
#content_five,
#content_six{
    cursor: pointer;
    width: 90%;
    height: auto;
    background-color: rgb(59, 91, 128);
}

#content_one:hover,
#content_two:hover,
#content_three:hover,
#content_four:hover,
#content_five:hover,
#content_six:hover{
    animation: highlight 1s ease;
}

#content_one p,
#content_two p,
#content_three p,
#content_four p,
#content_five,
#content_six{
    text-align: center;
}

#content_one_content{
    cursor: pointer;
    margin: 3.5% 0;
    height: 50px;
    width: 0%;
    transition: width 1s;
    transition-timing-function: ease;
}

#content_one_content p{
    display: none;
    text-align: center;
    transition: display 1s;
    transition-timing-function: ease;
}

#content_one_content:hover{
    width: 100%;
    height: auto;
    padding: 10px;
}


#content_one_content:hover p{
    display: block;
}

#content_contents::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: rgb(11, 39, 71);
}

#content_contents::-webkit-scrollbar-thumb {
    background: rgb(150, 181, 216);
}

#content_contents::-webkit-scrollbar-thumb:hover{
    background: rgba(255, 255, 255, 0.123);
}